<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Quora</h1>
<br><br>
<p>
    <%=post.id%>
    <br><br>
    <%=post.name%>
    <br><br>
    <%=post.comment%>
    <br><br>
</p>
</body>
</html>